spring.datasource.url=jdbc:sqlserver://burger-builder-db.database.windows.net:1433;database={{ db_name }};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
spring.datasource.username={{ db_username }}
spring.datasource.password={{ db_password }}
spring.datasource.driver-class-name=com.microsoft.sqlserver.jdbc.SQLServerDriver
server.port={{ server_port }}
